 <footer class="footer bg-dark py-3 mt-auto" style="display: flex;justify-content: center;">
    <!-- <div class="container">
        <span class="text-muted bg-light" >&copy; Powered by AICTE</span>
    </div>
    <div class="resources">
        <a href="/campground/title">Teach on ShikshaSangam</a>
    </div>
 --> 

 <div class="footer aem-GridColumn aem-GridColumn--default--12"><div class="flag-grad-border"></div>
 <footer class="footer-nav py-4" style="background-image: url('/content/dam/gtwenty/header-footer/footer/bg_img.svg');">
 <div class="ft-top-scr"></div>
 <div class="container">
 <div class="row m-0">
 
         <div class="col-md-2 col-sm-12 my-2 foot-nav-col ps-0">
                 <div class="img-align">
                     
                     <a href="" ><img src="https://zeevector.com/wp-content/uploads/G20-Logo-PNG-India@zeevector.png" height="50%" width="50%" class="footer-logo-image" alt="logo"/></a>
                 </div>
 </div>
         
  
                             
                             
     <hr class="dot-line"/>
     
                            
     
 
     <div class="nav-footer-item gt-nav col-md-2 col-sm-12 col-xl-2 my-2 pe-0">
         <div class="ftr-title">
             <h3 class="ftr-title-head f13">About AICTE</h3>
             <img class="ftr-title-img" alt="" src="/content/dam/gtwenty/header-footer/footer/chevron-down.svg"/>
         </div>
         <ul>
             
             <li><a href="/en/about-g20.html#overview" style="text-decoration: none;color: white;">Overview</a></li>
             
             <li><a href="/en/about-g20.html#members" style="text-decoration: none;color: white;">AICTE Members</a></li>
             
             <li><a href="/en/about-g20.html#how-g20-works" style="text-decoration: none;color: white;">How ShikshaSangam works</a></li>
             
         </ul>
     </div>
     
 
     <div class="nav-footer-item gt-nav col-md-2 col-sm-12 col-xl-2 my-2 pe-0">
         <div class="ftr-title">
             <h3 class="ftr-title-head f13">ShikshaSangam 2023</h3>
             <img class="ftr-title-img" alt="" src="/content/dam/gtwenty/header-footer/footer/chevron-down.svg"/>
         </div>
         <ul>
             
             <li><a href="/en/g20-india-2023/logo-theme.html" style="text-decoration: none;color: white;">Logo &amp; Theme </a></li>

             
             <li><a href="/en/g20-india-2023/new-delhi-summit.html" style="text-decoration: none;color: white;">G20 Summit, New Delhi</a></li>
             
             <li><a href="/en/g20-india-2023/calendar.html" style="text-decoration: none;color: white;">Calendar</a></li>
             
             <li><a href="/en/g20-india-2023/host-cities.html " style="text-decoration: none;color: white;">Host Cities</a></li>
             
             <li><a href="/en/g20-india-2023/visa-requirements.html" style="text-decoration: none;color: white;">Visa Requirements</a></li>
             
             <li><a href="/en/g20-secretariat.html" style="text-decoration: none;color: white;">G20 Secretariat</a></li>
             
         </ul>
     </div>
     
 
     <div class="nav-footer-item gt-nav col-md-2 col-sm-12 col-xl-2 my-2 pe-0">
         <div class="ftr-title">
             <h3 class="ftr-title-head f13">Workstreams</h3>
             <img class="ftr-title-img" alt="" src="/content/dam/gtwenty/header-footer/footer/chevron-down.svg"/>
         </div>
         <ul>
             
             <li><a href="/en/workstreams/sherpa-track.html" style="text-decoration: none;color: white;">Sherpa Track</a></li>
             
             <li><a href="/en/workstreams/finance-track.html" style="text-decoration: none;color: white;">Finance Track</a></li>
             
             <li><a href="/en/workstreams/engagement-groups.html" style="text-decoration: none;color: white;">Engagement Groups</a></li>
             
         </ul>
     </div>
     
 
     <div class="nav-footer-item gt-nav col-md-2 col-sm-12 col-xl-2 my-2 pe-0">
         <div class="ftr-title">
             <h3 class="ftr-title-head f13">Media &amp; Resources</h3>
             <img class="ftr-title-img" alt="" src="/content/dam/gtwenty/header-footer/footer/chevron-down.svg"/>
         </div>
         <ul>
             
             <li><a href="/en/media-resources/event-wise-media.html" style="text-decoration: none;color: white;">Event Overview</a></li>
             
             <li><a href="/en/media-resources/press-releases.html" style="text-decoration: none;color: white;">Press Releases</a></li>
             
             <li><a href="/en/media-resources/documents.html" style="text-decoration: none;color: white;">Documents</a></li>
             
             <li><a href="/en/media-resources/speeches.html" style="text-decoration: none;color: white;">Speeches</a></li>
             
             <li><a href="/en/media-resources/press-spotlight.html" style="text-decoration: none;color: white;">Press Spotlight</a></li>
             
             <li><a href="/en/media-resources/delegate-video-testimonial.html" style="text-decoration: none;color: white;">Delegates&#39; Experiences</a></li>
             
             <li><a href="/en/media-resources/gallery.html" style="text-decoration: none;color: white;">Gallery</a></li>
             
             <li><a href="/en/media-resources/media-acc-tracker.html" style="text-decoration: none;color: white;">Media Accreditation Tracker</a></li>
             
         </ul>
     </div>
     
 
     <div class="nav-footer-item gt-nav col-md-2 col-sm-12 col-xl-2 my-2 pe-0">
         <div class="ftr-title">
             <h3 class="ftr-title-head f13">Explore India</h3>
             <img class="ftr-title-img" alt="" src="/content/dam/gtwenty/header-footer/footer/chevron-down.svg"/>
         </div>
         <ul>
             
             <li><a href="/en/explore-india.html#incredible-india" style="text-decoration: none;color: white;">Incredible India</a></li>
             
             <li><a href="/en/explore-india.html#culture" style="text-decoration: none;color: white;">Culture &amp; Heritage</a></li>
             
             <li><a href="/en/explore-india.html#bharat" style="text-decoration: none;color: white;">Bharat- The Mother of Democracy</a></li>
             
             <li><a href="/en/explore-india.html#azadi" style="text-decoration: none;color: white;">Azadi Ka Amrit Mahotsav</a></li>
             
             <li><a href="/en/explore-india.html#achievements" style="text-decoration: none;color: white;">India’s Achievements</a></li>
             
             <li><a href="/en/explore-india.html#upi" style="text-decoration: none;color: white;">UPI One World</a></li>
             
             <li><a href="/en/explore-india.html#election" style="text-decoration: none;color: white;">Bharat - Mother of Democracy - Elections in India</a></li>
             
         </ul>
     </div>
     
     <div class="nav-footer-item gt-nav border border-0 col-md-2 col-sm-12 col-xl-2 my-2 pe-0">
         <div class="ftr-title">
             <a class="contact-us-color" href="#" style="text-decoration: none;color: white;">
                 <h3 class="ftr-title-head f13" >AICTE Secretariat</h3>
             </a>
             <img class="ftr-title-img" alt="" src="/content/dam/gtwenty/header-footer/footer/chevron-down.svg"/>
         </div>
         <ul>
             <li>
                 <button class="redirect-btn btn me-md-2">
                     <a href="/en/g20-secretariat.html " style="text-decoration: none;color: white;">Contact Us</a>
                 </button>
             </li>
             <li>
                 <div class="gt-info mb-2 f12"></div>
                 <div class="gt-info f12"></div>
             </li>
         </ul>
     </div>
 
 
 
 
 </div>
 
     <div class="footer-social-icon col-md-2 col-sm-12 ps-0">
     <div class="d-flex no-wrap justify-content-center justify-content-md-start align-items-center">
     
          
 
         <img
         height="40px"
         width="40px"
         alt=""
         src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
       / >

       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <img
       height="40px"
       width="40px"
       alt=""
       src="https://www.freepnglogos.com/uploads/facebook-logo-27.png"
     / >

     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <img
     height="40px"
     width="40px"
     alt=""
     src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-icon-circle-png-logo-8.png"
   / > 
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <a href="#">
   <img 
   height="40px"
   width="40px"
   alt=""
   src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-instagram-new-logo-vector-download-13.png"
  / >
</a>
     </div>
    				
     </div>
     
 <hr class="solid"/>
 <div class="gt-footer-copyrights f12">
   
     <div class="m-0">
       <div class="float-start otr-lnk">
         <a href="/en/privacy-policy.html" style="text-decoration: none;color: white;"> Privacy Policy  | </a>
       
         <a href="/en/terms-and-conditions.html" style="text-decoration: none;color: white;">  Terms &amp; Conditions  | </a>
       
         <a href="#" style="text-decoration: none;color: white;">  Copyright Policy  | </a>
       
         <a href="#" style="text-decoration: none;color: white;">  Hyperlinking Policy  | </a>
       
         <a href="#" style="text-decoration: none;color: white;"    >  Accessibility Statement </a>
       </div>
       <div class="float-end otr-lnk">
         ©2023 . All Rights Reserved.
       </div>
       <br/>
     </div>
   
 </div>
 
 <hr class="solid"/>
 
 <div class="row">
   <div class="col-sm-12 col-md-8">
     <div class="f12">
       <p class="arabic-right">© Content owned by G20 Secretariat, Ministry of External Affairs, Government of India.<br />
 Site Designed, Developed and Maintained by <a href="https://www.tcs.com/" style="text-decoration: none;color: white;" title="Tata Consultancy Services Ltd.(External website that opens in a new window)" target="blank">Tata Consultancy Services Ltd.</a></p>
     </div>
   </div>
   
     <div class="col-sm-12 col-md-4">
       <div class="d-flex justify-content-end arabic-justify-content-start">
         <p>Visitors:&nbsp;
         <div id="visitor-counts" style="background-color: white;"></div>&nbsp;
           Page last updated on:
           26/09/2023
         </p>
       </div>
   </div>
 
 
 </div>
 
 </div>
 </footer></div>
 
     
 </div>
 
     </div>
 
     
 </div>
 
     
 </div>
 
     
 </div>
 
     </div>
 
     
 </div>
 
 
             
     
     <script src="/etc.clientlibs/gtwenty/clientlibs/clientlib-common.min.js"></script>
 <script src="/etc.clientlibs/gtwenty/clientlibs/clientlib-site.min.js"></script>
 
 
     
 
     
     <script async src="/etc.clientlibs/core/wcm/components/commons/site/clientlibs/container.min.js"></script>
 <script async src="/etc.clientlibs/gtwenty/clientlibs/clientlib-base.min.js"></script>
 
 
 
 
 
     
 
     
 
     
 
 
         <script type="text/javascript">_satellite.pageBottom();</script>
 
     


</footer>