<% layout('layout/boilerPlate') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title page</title>
</head>
<body>
    <section class="ask vh-60 rounded p-5" style="display: flex;justify-content: center;margin-top: 14%;background-color: beige;width: 50%;">
        <form action="">
        <div>
            <h2>Give a title to your course</h2>
            <input type="text" placeholder="title?!" required>
            
            <button type="button" class="btn btn-primary btn-lg"
            style="padding: 1%;" id="signin" onclick="navigate()"><b>Continue</b></button>
        </div>
        </form>
    </section>
</body>
</html>