<% layout('layout/boilerPlate') %>
<main style="display:flex;justify-content: center;flex-direction: column;"> 
<h1 style="margin-left: 23%;">Valuable Feedbacks of our Users</h1>

<button class="btn btn-primary mb-4" style="width: 30%;margin-left: 33%;">
    <a style="color: white;font-weight: 500;text-decoration: none;" href="/campground/feedback">Add Feedback</a>
</button>
<div class="container " style="display: flex;justify-content: center;flex-wrap: wrap;">
            <% for(let i of backs){%>
            <div class="card m-3" style="width: 18rem;background-color: beige;box-shadow: 0px 0px 10px black;">
                <div class="card-body">
                  <h5 class="card-title"><%= i.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= i.email %></h6>
                  <p class="card-text"><%= i.message %></p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            <% }%>

        </main>
</div>